<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

        <!--    用spring来创建对象，这些对象称为bean    -->
        <bean id="hello" class="com.lisery.pojo.Hello">
            <property name="str" value="Spring"/>
        </bean>


</beans>